<!DOCTYPE html>
<html>
	<head>
		<title>{{page_title}}</title>
		<link rel="stylesheet" type="text/css" href="/inc/style.css" />

		<meta property="og:description" content="{{description}}" />
		<meta property="og:title" content="{{title}}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://{{domain_name}}/{{target_object}}" />

		{{#is_image}}
		{{#has_twitter}}
		<meta name="twitter:card" value="summary_large_image" />
		<meta name="twitter:site" value="@{{twitter}}" />
		<meta name="twitter:image" value="https://{{domain_name}}/{{url}}" />
		{{/has_twitter}}
		<meta property="og:image" content="https://{{domain_name}}/{{url}}" />
		{{/is_image}}
	</head>

	<body>

		<div id="container">
			{{#is_image}}
			<img src="/{{url}}" id="asset" alt="{{description}}" onClick="toggle()" />
			{{/is_image}}
			{{#is_video}}
			<video controls id="asset_video">
				<source src="/{{url}}" type="video/mp4">
				No video support (or not enough) in browser.
			</video>
			{{/is_video}}
		</div>

		<script src="/inc/resize.js" type="application/javascript"></script>
	</body>

</html>
